go 1.23

use (
	./services/gateway
	./services/auth
	./services/user
	./services/playlist-ingestion
	./services/metadata
	./services/epg
	./services/search
	./services/recommendation
	./services/playback
	./services/streaming
	./services/transcoding
	./services/recording
	./services/dvr
	./services/ai-playback
	./services/analytics
	./services/notification
	./services/sports
	./services/sync
	./libs/go/pkg
)
